/* yerform default theme styles */

/* STYLING begin */

    /* FONT begin */

        @yerform-font-size: 15px;
        @yerform-font-family: Arial;
        @yerform-font-color: black;
        @yerform-color-error: red;

    /* FONT end */

    /* LAYOUT begin */

        @yerform-width-max: 800px;
        @yerform-list-gap: 16px;
        @yerform-inline-horizontal-gap: 30px;
        @yerform-checkbox-vertical-gap: 0;

    /* LAYOUT end */

    /* FIELDSET begin */

        @yerform-fieldset-margin: 20px;

    /* FIELDSET end */

    /* FIELDS begin */

        @yerform-border-color: black;
        @yerform-field-presufix-padding: 10px;

        /* TEXTFIELD begin */

            @yerform-textfield-height-factor: 2;
            @yerform-textfield-padding: 0 6px;
            @yerform-textfield-border: 1px solid @yerform-border-color;
            @yerform-textfield-background: transparent;

            @yerform-textfield-border-error: 1px solid @yerform-color-error;
            @yerform-textfield-background-error: lighten( red, 48% );
            @yerform-textfield-font-color-error: red;

        /* TEXTFIELD end */

        /* TEXTAREA begin */

            @yerform-textarea-lineheight-factor: 1.6;
            @yerform-textarea-padding: 3px 6px;
            @yerform-textarea-border: 1px solid @yerform-border-color;
            @yerform-textarea-background: transparent;

            @yerform-textarea-border-error: 1px solid @yerform-color-error;
            @yerform-textarea-background-error: lighten( red, 48% );
            @yerform-textarea-font-color-error: red;

        /* TEXTAREA end */

    /* FIELDS end */

    /* LABELS begin */

        @yerform-label-lineheight-factor: 1.4;
        @yerform-label-width-min: 140px;
        @yerform-label-witespace: normal;
        @yerform-label-padding: 15px;
        @yerform-label-root-padding: 30px;
        @yerform-label-align: right;
        @yerform-label-root-align: right;
        @yerform-label-checkbox-padding: 10px;
        @yerform-sufix-padding: 10px;

        .yerform label:after {
            content: ":";
        }

    /* LABELS end */

    /* INFOS begin */

        @yerform-info-after-width: 200px;
        @yerform-info-after-padding: 10px;

    /* INFOS end */

    /* BUTTONS begin */

        @yerform-submit-align: right;

    /* BUTTONS end */

    /* RESPONSIVE begin */

        @yerform-breakpoint: ~"only screen and (min-width: 600px)";
        @yerform-breakpoint-label: ~"only screen and (min-width: 600px)";
        @yerform-breakpoint-info: ~"only screen and (min-width: 700px)";

    /* RESPONSIVE end */

/* STYLING end */

/* CORE begin */

    /* MIXINS begin */

        .display-table() {
            display: table;
            width: 100%;
            >  * {
                display: table-cell;
                vertical-align: top;
            }
        }

        .tag-font() {
            font-family: @yerform-font-family;
            font-size: @yerform-font-size;
            line-height: round( @yerform-font-size * @yerform-label-lineheight-factor );
            padding-top: round( @yerform-font-size * ( ( @yerform-textfield-height-factor - @yerform-label-lineheight-factor ) / 2 ) );
            padding-bottom: round( @yerform-font-size * ( ( @yerform-textfield-height-factor - @yerform-label-lineheight-factor ) / 2 ) );
        }

    /* MIXINS end */

    /* DEVELOPER begin */

        .yerform * {
            //background: rgba(0,0,0,0.05);
        }

        li {
            //border: 1px solid #999;
        }

    /* DEVELOPER end */

    /* PRESETS & FIXES begin */

        .yerform * {
            -moz-box-sizing: border-box;
            -webkit-box-sizing: border-box;
            -ms-box-sizing: border-box;
            box-sizing: border-box;
        }

        .yerform input[type="submit"]::-moz-focus-inner {
            border: 0;
            margin-right: -3px;
        }

    /* RESET & FIXES end */

    /* MISC begin */

        .yerform {
            max-width: @yerform-width-max;
        }

        .yerform-invisible {
            position: absolute !important;
            width: 0 !important;
            height: 0;
            overflow: hidden;
        }
        .yerform-displaynone {
            display: none !important;
        }

    /* MISC end */

    /* MESSAGES begin */

        /* MESSAGES begin */

            .yerform-messages {
                font-family: @yerform-font-family;
                font-size: @yerform-font-size;
                line-height: round( @yerform-font-size * 1.2 );
            }

            .yerform-messages-error {
                color: @yerform-color-error;
            }

        /* MESSAGES end */

        /* FIELDMESSAGE begin */

            .yerform-field-message {
                font-family: @yerform-font-family;
                font-size: @yerform-font-size;
                line-height: round( @yerform-font-size * 1.2 );
                padding-top: 3px;
            }

            .yerform-field-message-error {
                color: @yerform-color-error;
            }

        /* FIELDMESSAGE end */

    /* MESSAGES end */

    /* FIELDSET begin */

        .yerform-fieldset-wrap {
            margin: @yerform-fieldset-margin 0;
        }

        .yerform-fieldset {
            border: none;
            padding: 0;
        }

        .yerform-fieldset-legend {
            font-family: @yerform-font-family;
            font-size: round( @yerform-font-size * 1.2 );
            color: @yerform-font-color;
            line-height: round( @yerform-font-size * 1.4 );
            padding-bottom: @yerform-list-gap;
        }

    /* FIELDSET end */

    /* ITEM begin */

        @media @yerform-breakpoint {

            .yerform-list-item-inline {
                .yerform-label-table {
                    display: table;
                    width: 100%;
                }
                .yerform-label-wrap {
                    display: table-cell;
                    vertical-align: top;
                }
                .yerform-fields-wrap {
                    display: table-cell;
                }
            }
        }

    /* ITEM end */

    /* LIST begin */

        .yerform-list {
            list-style: none;
            margin: 0;
            padding: 0;
            font-size: 0;
            line-height: 0;
            width: 100%;
        }

        .yerform-list-item {
            margin-bottom: @yerform-list-gap;
        }

        @media @yerform-breakpoint-label {

            .yerform-list-item {
                margin-bottom: 0;
            }
            .yerform-list-label-table {
                > .yerform-list-item {
                    > * {
                        padding-bottom: @yerform-list-gap;
                    }
                }
            }
            .yerform-list-label-table {
                > .yerform-list-item{
                    > * {
                        padding-bottom: @yerform-list-gap;
                    }
                }
            }

            .yerform-depht-1.yerform-list-label-table {
                > * > .yerform-label-wrap {
                    min-width: @yerform-label-width-min;
                    white-space: @yerform-label-witespace;
                }
            }
        }

    /* LIST end */

    /* GROUP begin */

        .yerform-list-item-group {
            margin-bottom: @yerform-list-gap;
        }

        .yerform-group-label {
            margin-bottom: 0;
            white-space: nowrap;
        }

        .yerform-list-inline,
        .yerform-list-table,
        .yerform-list-block {

        }

        @media @yerform-breakpoint {

            .yerform-group-inline  > .yerform-group-label {
                width: 1px;
                /*vertical-align: top;*/
            }

            .yerform-list > .yerform-list-item:last-child {
                padding-bottom: @yerform-list-gap;
            }

            .yerform-list-table > .yerform-list-item:last-child,
            .yerform-depht-2 .yerform-list-item:last-child {
                padding-bottom: 0;
            }

            .yerform-list-item-group  .yerform-list-item-group  {
                margin-bottom: 0;
            }

            .yerform-list-gap.yerform-list-inline {
                margin-top: -@yerform-list-gap;

                > .yerform-list-item-group,
                > .yerform-list-item {
                    margin-top: @yerform-list-gap;
                }
            }

            /* GROUP INLINE begin */

                .yerform-group-inline {

                    /*margin-bottom: 0;*/
                    vertical-align: top;

                    > .yerform-list-item-group-inner {
                        display: table;
                        width: 100%;

                        > .yerform-group-label {
                            display: table-cell;
                            font-weight: normal;
                        }

                        > .yerform-fields-wrap {
                            display: table-cell;
                        }
                    }
                }

                .yerform-depht-1 {
                    > .yerform-list-item-inline > .yerform-list-item-group-inner > .yerform-group-label,
                    > .yerform-group-inline > .yerform-list-item-group-inner > .yerform-group-label {
                        min-width: @yerform-label-width-min;
                    }
                }

                .yerform-group-label {
                    vertical-align: top;
                }

            /* GROUP INLINE end */

            /* LISTITEMS TABLE begin */

                .yerform-list-table {

                    display: table;
                    width: 100%;
                    /*margin-bottom: @yerform-list-gap;*/

                    > .yerform-list-item,
                    > .yerform-list-item-group {

                        display: table-cell;
                        padding-right: @yerform-inline-horizontal-gap;

                        &:last-child {
                            padding-right: 0;
                        }

                        &.yerform-list-item-sized {
                            width: 1px;
                        }

                        > .yerform-label-table {
                            > .yerform-label-wrap {
                                width: 1px;
                            }
                        }
                    }
                }

            /* LISTITEMS TABLE end */

            /* LISTITEMS INLINE begin */

                .yerform-list-inline {

                    > .yerform-list-item,
                    > .yerform-list-item-group {

                        display: inline-block;
                        padding-right: @yerform-inline-horizontal-gap;

                        &:last-child {
                            padding-right: 0;
                        }

                        > .yerform-label-table {
                            > .yerform-label-wrap {
                                width: 0;
                            }
                        }
                    }
                }

            /* LISTITEMS INLINE end */

        }

        @media @yerform-breakpoint-label {
            .yerform-list-label-table {
                display: table;
                > * {
                    display: table-row;
                    > * {
                        display: table-cell;
                        vertical-align: top;
                    }
                }
            }
        }

    /* GROUP end */

    /* LABELS begin */

        .yerform label {
            display: inline-block;
            .tag-font;
            color: @yerform-font-color;
        }

        @media @yerform-breakpoint-label {

            .yerform-list-item.yerform-label-inline > * {
                .display-table;
            }

            .yerform-list-label-table.yerform-depht-1 > * > .yerform-label-wrap,
            .yerform-label-inline > .yerform-label-wrap {
                padding-right: @yerform-label-root-padding;
            }

            .yerform-group-inline,
            .yerform-list-item-inline,
            .yerform-list-table > * > * {
                > .yerform-label-wrap {
                    padding-right: @yerform-label-padding;
                    width: 1px;
                }
            }

            .yerform-list-label-table > *,
            .yerform-list-item-inline,
            .yerform-group-inline  {
                    > .yerform-label-wrap,
                    > .yerform-group-label {
                        text-align: @yerform-label-align;
                    }
            }

            .yerform-depht-1 > * {
                > .yerform-label-wrap,
                > .yerform-group-label {
                    text-align: @yerform-label-root-align;
                    padding-right: @yerform-label-root-padding;
                }
             }

            .yerform-list-item-group > .yerform-group-label {
                padding-bottom: @yerform-list-gap;
            }
        }

    /* LABELS end */

    /* FIELDTABLE begin */

        .yerform-field-table {
            .display-table;
        }

    /* FIELDTABLE end */

    /* FIELDPRESUFIX begin */

        .yerform-field-prefix,
        .yerform-field-sufix {
            .tag-font;
            color: @yerform-font-color;
            width: 1px;
        }
        .yerform-field-prefix {
            padding-right: @yerform-field-presufix-padding;
        }
        .yerform-field-sufix {
            padding-left: @yerform-field-presufix-padding;
        }

    /* FIELDPRESUFIX end */

    /* FIELDS begin */

        .yerform-field-after {
            display: inline-block;
            .tag-font();
            padding-left: @yerform-label-checkbox-padding;
        }

        /* Text begin */

            .yerform input[type="text"] {
                padding: @yerform-textfield-padding;
                width: 100%;
                height: round( @yerform-font-size * @yerform-textfield-height-factor );
                border: @yerform-textfield-border;
                background: @yerform-textfield-background;
                font-family: @yerform-font-family;
                font-size: @yerform-font-size;
                line-height: round( @yerform-font-size * @yerform-textfield-height-factor );
                color: @yerform-font-color;
            }

            .yerform-list-item-error input[type="text"] {
                border: @yerform-textfield-border-error;
                background: @yerform-textfield-background-error;
                color: @yerform-textfield-font-color-error;
            }

            @media @yerform-breakpoint {
                .yerform-input-sized {

                    .yerform-field-cell {
                        /*width: 1px;*/
                        input[type="text"] {
                            width: auto;
                        }
                    }

                }
            }

        /* Text end */

        /* TEXTAREA begin */

            .yerform textarea {
                margin: 0;
                width: 100%;
                padding: @yerform-textarea-padding;
                border: @yerform-textarea-border;
                background: @yerform-textarea-background;
                font-family: @yerform-font-family;
                font-size: @yerform-font-size;
                line-height: round( @yerform-font-size * @yerform-textarea-lineheight-factor );
                color: @yerform-font-color;
            }

            .yerform-item-type-textarea {
                .yerform-label-wrap,
                .yerform-group-label {
                    vertical-align: top;
                }
            }

            .yerform-list-item-error textarea {
                border: @yerform-textarea-border-error;
                background: @yerform-textarea-background-error;
                color: @yerform-textarea-font-color-error;
            }

        /* TEXTAREA end */

        /* CHECKBOX begin */

            .yerform-item-type-checkbox {
                .yerform-field {
                    .tag-font();
                }
            }

            .yerform-list-item-group .yerform-item-type-checkbox {
                margin-bottom: 0;
            }

            .yerform-item-type-checkbox + .yerform-item-type-checkbox {
                margin-top: @yerform-checkbox-vertical-gap;
            }
            /*
            @media @yerform-breakpoint {

                .yerform-item-type-checkbox + .yerform-item-type-checkbox {
                    margin-top: 0;
                }
            }
            /*
            .yerform-list-block > .yerform-item-type-checkbox + .yerform-item-type-checkbox {
                margin-top: @yerform-checkbox-vertical-gap;
            }

            .yerform-depht-1 {
                > .yerform-item-type-checkbox + .yerform-item-type-checkbox {
                    margin-top: @yerform-list-gap;
                }
            }
            */
        /* CHECKBOX end */

        /* RADIOBOX begin */

            .yerform-item-type-radio {
                vertical-align: top;

                > * > .yerform-fields-wrap {
                    vertical-align: middle;

                    > * > .yerform-field {
                        vertical-align: middle;
                    }
                }
            }

            .yerform-list-item-group .yerform-item-type-radio {
                margin-bottom: 0;
            }

            .yerform-item-type-radio + .yerform-item-type-radio {
                margin-top: @yerform-checkbox-vertical-gap;
            }

            @media @yerform-breakpoint {

                .yerform-item-type-radio + .yerform-item-type-radio {
                    margin-top: 0;
                }
            }

            .yerform-list-block > .yerform-item-type-radio + .yerform-item-type-radio {
                margin-top: @yerform-checkbox-vertical-gap;
            }

            .yerform-depht-1 {
                > .yerform-item-type-radio + .yerform-item-type-radio {
                    margin-top: @yerform-list-gap;
                }
            }

        /* RADIOBOX end */

    /* FIELDS end */

    /* INFO begin */

        .yerform-info-after {
            .tag-font();
        }

        @media @yerform-breakpoint-info {

            .yerform-info-inline  > * .yerform-infoafter-table,
            .yerform-info-inline  > * > * .yerform-infoafter-table {
                .display-table;
                > .yerform-info-after {
                    padding-left: @yerform-info-after-padding;
                }
            }

            .yerform-info-sized > * .yerform-info-after,
            .yerform-info-sized > *  > * .yerform-info-after {
                max-width: @yerform-info-after-width;
            }
        }

    /* INFO end */

    /* MESSAGES begin */

        /* MESSAGES begin */

            .yerform-messages {
                font-family: @yerform-font-family;
                font-size: @yerform-font-size;
                line-height: round( @yerform-font-size * 1.2 );
            }

            .yerform-messages-error {
                color: @yerform-color-error;
            }

        /* MESSAGES end */

        /* FIELDMESSAGE begin */

            .yerform-field-message {
                font-family: @yerform-font-family;
                font-size: @yerform-font-size;
                line-height: round( @yerform-font-size * 1.2 );
                padding-top: 3px;
            }

            .yerform-field-message-error {
                color: @yerform-color-error;
            }

        /* FIELDMESSAGE end */

    /* MESSAGES end */

    /* BUTTONS begin */

        .yerform-buttons {
            display: table;
            width: 100%;
            margin-top: 0;
        }

        .yerform-reset,
        .yerform-submit {
            display: table-cell;
        }
        .yerform-submit {
            text-align: @yerform-submit-align;
        }

    /* BUTTONS end */

/* CORE end */
